@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css);

* {
  margin: 0;
  padding: 0;
}
* a {
  text-decoration: none;
}

* li {
  list-style: none;
}

.header :hover {
  color: yellow;
}

footer :hover {
  color: yellow;
}

.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 1em;
  padding-left: 1%;
  padding-right: 10em;
}
.upper i {
  font-size: 3rem;
  color: #2a3b88;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
}

.account {
  border: solid black;
}

.lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1c3572;
  padding-left: 1%;
}
.dropdown {
}

.dropdown-content {
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.lower a {
  color: white;
}

header h1 {
  font-size: 3rem;
  padding: 2px;
  color: #2a3b88;
}

.top-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  gap: 2em;
  font-size: 1.5em;
}

.top-links li{
  padding: 0.5rem;
}

.top-links i{
  color: white;
}

.top-links li :hover{
  color: lightskyblue;
}

.top-links button{
  visibility: none;
}
.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  gap: 2em;
  font-size: 1.5em;
}

.links li :hover {
  color: lightskyblue;
}

.links i {
  color: white;
}

.links ul li a {
  transition: all 0.3s;
}

.search-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 1rem;
  background: #486fa7;
  box-shadow: 0.25rem 0.25rem 0 black;
}

.search-wrapper input {
  display: flex;
  flex-wrap: wrap;
  width: 10rem;
  border: none;
  outline: none;
  background-color: #486fa7;
}

::placeholder {
  color: white;
}

footer {
  background-color: #1c3572;
}

.upper-footer {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}

footer h1 {
  color: white;
}

footer nav {
  display: flex;
  flex-wrap: wrap;
}

.upper-footer a {
  color: black;
}

.lower-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.lower-footer a {
  color: white;
}

.front-image {
  font-size: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-right: 20%;
  margin-left: 20%;
}
.front-image img {
  width: 30vmax;
  height: auto;
}
.front-image a {
  color: white;
  background-color: #1c3572;
  padding: 0.5rem;
}
