*{
  margin: 0;
  padding: 0;
}

nav.upper{
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}
nav.lower{
  display: grid;
  grid-template-columns: 7fr 3fr;
  padding-left: 20%;
  padding-right: 20%;
}

header{
  border: solid black
}

body{
  padding-left: 20%;
  padding-right: 20%;
  border: solid black;
}

.links{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 2em;
}

.search{
  display: flex;
  justify-content: flex-end;
}
