@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

* button {
  border: none;
  background: none;
  background-color: none;
  outline: none;
}

.upper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw;
}

.upper-nav h1 {
  font-size: 2.5vw;
  color: #1c3572;
}

.upper-nav i {
  color: #1c3572;
  font-size: 1.75vw;
  margin-right: 3vmax;
}

.lower-nav {
  display: flex;
  width: 100%;
  background: #1c3572;
  position: relative;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.lower-nav i {
  font-size: 1vw;
  cursor: pointer;
}

.lower-nav li {
  display: flex;
  align-items: center;
}

.lower-nav ul {
  display: flex;
  align-items: center;
}
.lower-nav li {
  padding: 0.5rem;
  margin-right: 0.25rem;
  margin-left: 0.5rem;
}

.lower-nav img {
  text-align: center;
  margin-left: 1rem;
  border-radius: 50%;
  width: 2.5vmax;
  height: auto;
  opacity: 1;
}

.lower-nav img:hover {
  opacity: 0.5;
}

.lower-nav ul li a {
  color: white;
  font-size: 2.5vw;
  padding: 0.25rem;
}

.lower-nav ul li:hover {
  background: black;
  color: yellow;
}

.lower-footer {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}

.searchbox {
  display: flex;
  height: auto;
  background-color: white;
  align-items: center;
  width: 10vmax;
  height: auto;
  line-height: 0.25rem;
  padding: 0.25rem;
  margin-right: 1rem;
}

::placeholder {
  font-size: 0.75vw;
}

.searchbox input {
  border: none;
  height: auto;
  font-size: 0.5vw;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  background-color: #1c3572;
  padding: 3vmax;
  font-size: 2vw;
}

main {
  padding-top: 5vmax;
  padding-right: 20%;
  padding-left: 20%;
}

main div {
  margin-bottom: 5rem;
}

footer h1 {
  color: white;
  font-size: 2.5vw;
}

footer nav {
  display: flex;
  flex-wrap: wrap;
}

.upper-footer {
  display: flex;
  justify-content: space-between;
  margin-right: 5rem;
  margin-left: 5rem;
  font-size: 2vw;
}

.upper-footer a {
  color: black;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}
.image-wrapper img {
  width: 30vmax;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.medias {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  gap: 2em;
  font-size: 2vw;
}

.lower-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.lower-footer a {
  color: white;
}

.front-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  font-size: 2vw;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.front-image img {
  width: 30vmax;
  height: auto;
}

.front-image a {
  color: white;
  background-color: #1c3572;
  padding: 0.5rem;
}

.lists {
  display: flex;
  justify-content: space-between;
  font-size: 2vw;
  margin-top: 25vh;
  gap: 5vw;
}

.tierlists {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  font-size: 2vw;
  margin-top: 25vh;
  gap: 5vw;
}
.tierlists img {
  width: 50vmax;
  height: auto;
}

.tierlists img:hover {
  opacity: 0.5;
}

.lists img:hover {
  opacity: 0.5;
}

.lists img {
  width: 30vmax;
  height: auto;
}

.content-title {
  font-size: 2.5vw;
}

.content-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2vw;
}

.community-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vw;
}

.community-lists {
  display: flex;
  justify-content: center;
  border: black solid 1.5rem;
}

.community-lists img {
  width: 10vmax;
  height: auto;
}

.community-lists img:hover {
  opacity: 0.5;
}

.community-container a {
  color: white;
  background-color: #1c3572;
  padding: 0.5rem;
}

.list-description h1 {
  color: white;
  background-color: #1c3572;
  font-size: 2.5vw;
  padding: 0.5rem;
}

.list-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-description-container img {
  width: 30vmax;
  height: auto;
}
.lists-main {
  padding: 0;
  margin-top: 5vmax;
}

.listMaker {
  margin: 10rem;
}
.donate-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.credit-card {
  display: flex;
  flex-direction: column;
}

.donate {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1vw;
  border: black solid 0.25rem;
  border-radius: 0.5rem;
}

.wrapper img {
  width: 50vmax;
  height: auto;
}

.wrapper ul {
  display: flex;
  gap: 1rem;
}

.wrapper button {
  color: white;
  background-color: black;
  width: 10rem;
  border: 0.5rem solid;
  border-radius: 5rem;
}

.payment {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.payment span {
  display: flex;
  font-size: 1vw;
  border: black solid 0.25rem;
  border-radius: 0.5rem;
}

.payment div {
  display: flex;
  justify-content: space-between;
}

.payment i {
  font-size: 1.5vw;
}

.payment button {
  display: flex;
  text-align: center;
  border: black solid 0.5rem;
  border-radius: 50%;
}

.community {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  background-image: url(Movies.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.community-item {
  text-align: center;
  background-color: white;
}

i:hover{
  color: yellow;
}